*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color: #F48993;
}
#left{
    width: 50%;
    height: 100vh;
    background: #c1c1c1;
}
#right{
    width: 50%;
    height: 100vh;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
}
#right::after{
    box-shadow: inset 120px 100px 250px var(--primary-color), inset -120px -100px 250px var(--primary-color);
}
#img{
    width: 300px;
    position: absolute;
    top: 10%;
    right: 20%;  
    transform: translateY(40px);
    opacity: 0;
    transition: .5s;
    transition-delay: 0;
}
#img img{
    width: 500px;
    height: auto;
}
#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
}
#nav #logo{
    width: 30%;
    height: 100%;
    padding-left: 8%;
}
#nav #logo h1{
    line-height: 80px;
    text-transform: uppercase;
    color: var(--primary-color);
    transform: translateX(-15px);
    opacity: 0; 
    transition: .5s;
}
#nav #menu1{
    width: 40%;
    height: 100%;
}
#nav #menu1 ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 25%;
}
#nav #menu1 ul li{
    line-height: 80px;
    text-transform: uppercase;
    transform: translateX(-20px);
    opacity: 0;
    transition: .5s;
}
#nav #menu1 ul li:nth-child(1){
    transition-delay: 0;
}
#nav #menu1 ul li:nth-child(2){
    transition-delay: .2s;
}
#nav #menu1 ul li:nth-child(3){
    transition-delay: .4s;
}
#nav #menu2{
    width: 30%;
    height: 100%;
}
#nav #menu2 ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 25%;
}
#nav #menu2 ul li{
    line-height: 80px;
    transform: translateX(-20px);
    opacity: 0;
    transition: .5s;
}
#nav #menu2 ul li:nth-child(1){
    transition-delay: 0;
}
#nav #menu2 ul li:nth-child(2){
    transition-delay: .2s;
}
#nav #menu2 ul li:nth-child(3){
    transition-delay: 0.4s;
}

#content{
    position: absolute;
    top: 220px;
    left: 10%;
    width: 30%;
}
#content h1{
    font-size: 45px;
    letter-spacing: 3px;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s;
    transition-delay: 0;
}
#content p{
    letter-spacing: 2px;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s;
    transition-delay: 0.2s;
}
#content button{
    margin-top: 50px;
    width: 180px;
    height: 30px;
    border: 0;
    background: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s;
    transition-delay: 0.4s;
}
#media{
    width: 210px;
    height: 50px;
    position: absolute;
    left: 10%;
    bottom: 20px;
}
#media ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#media ul li{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s;
}
#media ul li:nth-child(1){
    transition-delay: 0;
}
#media ul li:nth-child(2){
    transition-delay: 0.2s;
}
#media ul li:nth-child(3){
    transition-delay: 0.4s;
}
#media ul li:nth-child(4){
    transition-delay: 0.6s;
}
#media ul li:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}
#navigator{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 10%;
    bottom: 0;
}
#navigator ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
}
#navigator ul li{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;  
    transition: 0.5s;
}
#navigator ul li:hover{
    box-shadow: 3px 3px 3px #000;
    opacity: 0.8;
}
#indi{
    width: 40px;
    height: 120px;
    position: absolute;
    right: 2%;
    top: 50%;
}
#indi ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
#indi ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transform: translateX(20px);
    opacity: 0;
    transition: .5s;
}
#indi ul li:nth-child(1){
    transition-delay: 0;
}
#indi ul li:nth-child(2){
    transition-delay: 0.2s;
}
#indi ul li:nth-child(3){
    transition-delay: 0.4s;
}
.active{
    color: #fff;
    font-weight: bold;
}
.active::before{
    content: "";
    width: 40px;
    height: 2px;
    background: #fff;
    display: flex;
}
@keyframes animate{
    0%{
        margin-left: 0;
    }
    40%{
        margin-left: 25%;
    }
    100%{
        margin-left: 100%;
    }
}

#left_s,#right_s{
    margin-left: 100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
